.col-sm-12
  .col-md-12
    .alert.alert-danger=raw @error
    %h1 Resumen de Compra
  .col-md-8
    %table.table
      %tr
        %th Paquete
        %th Mexipuntos
        %th Precio Total
      %tr
        %td=@paquete[:nombre]
        %td=@paquete[:mexipuntos]
        %td=number_to_currency(@paquete[:precio])

  .well.col-md-4.checkout
    =simple_form_for :checkout do |f|
      =f.input :nombre
      =f.input :apellidos
      =f.input :amount, :as => :hidden, :input_html => {:value => @paquete[:precio] }
      =f.input :paquete, :as => :hidden, :input_html => {:value => @paquete[:nombre]  }
      =f.input :paquete_id, :as => :hidden, :input_html => {:value => @paquete[:id]  }
      .row
        .col-md-8
          =f.input :card_num, :label => 'Número de Tarjeta', :input_html => { :autocomplete => "off"}
        .col-md-4
          =f.input :cvv, :as => :password, :label => 'CVV', :input_html => { :maxlength => "3" }
      =f.input :card_type, :collection => ['Visa', 'Mastercard']
      .form-group
        =f.label "Fecha de Vencimiento"
        .vencimiento.clearfix
          =f.select :month,  ['01','02','03','04','05','06','07','08','09','10','11', '12'],{}, :class => 'form-control'
          =f.select :year, options_for_select(Time.now.year..Time.now.year+20), {},:class => 'form-control year'
      .form-group
        %button.btn.btn-primary.pull-right{:type=>'submit'}
          Realizar Pago Seguro


