%p #{@nombre} te escribió el siguiete mensaje:

%p=@mensaje

%hr
=link_to(image_tag('http://mexilist.com/mexilist.png', :style => 'width:80px'), root_path)
%br

El mensaje fue enviado sobre tu anuncio: 
=link_to @anuncio.title, 'http://mexilist.com' + city_anuncio_url(@anuncio)
