%h1
  %span.picture=image_tag(@user.picture)
  Anuncios de #{@user.name}
-if current_user == @user
  %h4
    Mexipuntos disponibles: #{current_user.mexipuntos}
    %small=link_to 'Adquiere más mexipuntos.', '/paquetes'

%ul#anuncio_list.list-group

  -@anuncios.each do |anuncio|
    %li.list-group-item
      =render 'anuncios/anuncio_list', :anuncio => anuncio, :renueva => true
      .extra-info
        %span=link_to 'autorenovar', renovar_anuncios_url(:id => anuncio.id), :remote => true
        -if current_user == @user or (current_user and current_user.has_role? :admin)
          %span=link_to 'editar', edit_anuncio_url(anuncio)
          %span=link_to 'borrar', anuncio, :method => :delete, :confirm => "Estas seguro?"
          %span="visitas: " + anuncio.impressionist_count.to_s

#autorenueva.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Autorenueva

      .modal-body
        =render 'anuncios/renovar', :anuncio => @anuncio if @anuncio
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
        %button.btn.btn-primary{type: "button", :onclick => "$('#autorenueva form').submit();"} Guardar
      .modal-content
    .modal-dialog
  .modal
-if @anuncio
  :javascript
    $('#autorenueva').modal('show');