$dark_gray: #333;
$gray: #666;
$brand: red;



@mixin rounded($radius: 5px){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  behavior: url(border-radius.htc);
}

@mixin rounded_bottom($radius: 5px){
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
}
@mixin rounded_top($radius: 5px){
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
}
@mixin rounded_left($radius: 5px){
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
}
@mixin rounded_right($radius: 5px){
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin alpha($alpha: 40){

	opacity:$alpha/100;	      
	filter:alpha(opacity=$alpha); 
}

@mixin shadow($expression: 0 0 2px rgba(0,0,0,0.15)){
  -webkit-box-shadow: $expression;
  -moz-box-shadow: $expression;
  box-shadow: $expression;
}

@mixin text-shadow($expression: 0px 1px 1px black){
  text-shadow: $expression;
}