@import 'tools';
@import 'new_anuncio';

#perks{
    margin-top: 15px;
    h3{
        font-size: 0.5em;
        margin: 0;
        text-align: left;
    }
    overflow: hidden;
    ul{

    }
    li{
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 10px;
        width: 100%;
        height: 60px;
        padding-top: 16px;
    }
    li.well.precio{
        font-size: 2.5em;
        span{
            display: block;
            margin-top: 0px;
        }
    }
    li.well.job span{
        margin-top: 0;
        font-size: 0.8em;
    }
    li.well{
        padding: 10px;
        span{
            margin-top: -5px;
            display: block;
        }
    }

}

@media (max-width: 1250px) {
    #perks li{
        font-size: 1.2em;
    }
    #perks li.well.precio{
        font-size: 1.2em;
    }
}

@media (max-width: 992px) {
    #perks li{
        font-size: 1.7em;
    }
    #perks li.well.precio{
        font-size: 2.5em;
    }
}

.category_list{
    font-size: 0.8em;
    ul{
        margin-left: 0;
    }
    img{
        float: right;
        position: relative;
        margin-top: -10px;
        margin-right: -10px;
        @include alpha(60);
    }
}

.select_cat{
    .span2:first-child{
        margin-left: 47px;
    }
    .span2{
        width: 160px;
    }
}

#anuncios_container.related {

    .anuncio{
        width: 18%;
        margin-top: 30px;
        img{

        }
    }
    .thumbnail{
        height: 180px;
    }
}


.telefonos{
    font-size: 2em;
    padding-top: 5px;
    .glyphicon-earphone:before{
	padding-right: 5px;
    }
    .glyphicon{
	top: 4px;
    }
    .label{	
	margin-right: 15px;
    }
}
