// Place all the styles related to the anuncios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'tools';

.perk .control-group{
    float: left;
    margin-right: 15px;
}

#anuncios_container, #related_container{
    margin-left: 0px;
    width: 100%;
    overflow: hidden;
}

#related_container{
    .anuncio{
	float: left;
    }
}
.grid-sizer { width: 21%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  #anuncios_container .anuncio { width: 23%; }

}

@media screen and (max-width: 720px) {
  /* 10 columns for larger screens */
  #anuncios_container .anuncio { width: 23%; }

}
#related_container .anuncio{
    margin-right: 0;
}

.anuncio{
    margin-right: 15px;
    margin-bottom: 15px;
    .thumbnail{
	padding: 0px;
	padding-bottom: 4px;
	@include rounded(5px);
	.imgrounded{
	    @include rounded_top(5px);
	}
    }
    
    h3{
        font-size: 0.8em;
        line-height: 1.2;
	padding: 4px;
	margin: 0;
    }
    img{
        width: 100%;

    }

    a{
	font-weight: normal;
    }
    
    .price{
        color: $gray;
	padding: 4px;
	text-align: right;
	font-weight: bold;
    }
    


}

#anuncio_list{}

#anuncio_gallery{
    margin-left: -15px;
    width: 600px;
    text-align: center;
    .item{
        background: #333;
        img{
            margin: 0 auto;
        }
    }
    .carousel-control{
        margin-top: 65px;
    }
    .carousel-indicators {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 5;
        margin: 0;
        list-style: none;
    }

    .carousel-indicators li {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        text-indent: -999px;
        background-color: #ccc;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 5px;
    }

    .carousel-indicators .active {
        background-color: #fff;
    }

}

ul#anuncio_list{
    margin-bottom: 10px;
    padding: 10px 0;
    .list-group-item{
	padding-right: 0;
	overflow: hidden;
	padding-bottom: 0;
	margin-bottom: 10px;
	@include shadow;
    }
    .info{
	padding-top: 60px;
        color: lighten(#333, 5);
	@include text-shadow(0px 1px 1px #fff);
	text-align: right;
	font-weight: bold;
	background: #FAFAFA;
	height: 100%;

	margin-top: -10px;
	right: 0;
	margin-right: -30px;
	padding-bottom: 15px;

    }

    .precio{
	margin-bottom: 10px;
	font-size: 1.2em;
    }

    h3 a{
	margin: 0;
	line-height: 26px;
	font-size: 0.7em;
    }

    .autorenueva-btn{
	position: absolute;
	top: 0;
	right: 5px;
    }

}

