/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import 'tools';


.content {
  background-color: white;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  margin-top: 40px;
}

#busca_por_categoria{
  float: left;
  background: $dark_gray;
  color: white;
  width: 80px;
  height: 25px;
  padding: 1em;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 5px;
  @include rounded_top;
  strong{
    font-size: 1.5em;
    font-weight: normal;
  }
}

#search_bar{
  margin-left: 140px;
  float: left;
  margin-top: 2px;
  input[type='text']{
    height: 25px;
  }
  button{
    padding-top: 7px;
    padding-bottom: 6px;
    margin-left: -10px;
  }
}

.navbar ul.nav{
  margin-top: 10px;
}

button.publicar_btn{
  float: right;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  position: relative;

}

#category_menu{
  position: relative;
  top: 0px;
  left: -12px;
}

#all_categories{
  float: left;
  margin-right: -10px;
  a{
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

.linea{
  width: 100%;
  height: 1px;
  background: #CCC;
}

#right_banner{

}
	