/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require gallery
 *= require_self
 *= require_tree .
 */
@import 'tools.css.scss';

@media (min-width: 768px) {
    #main_content{
        margin-left: 200px;
        margin-right: 160px;

    }

}


#main_content{

}

.content {
    background-color: white;
    ul{
        margin: 0 auto;
    }
}

#main{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    overflow: auto;
}

#left_banner{
    padding-top: 180px;
    width: 180px;
    float: left;
    margin-left: 15px;
    overflow: auto;
}

#right_banner{
    padding-top: 10px;
    text-align: right;
    width: 140px;
    position: absolute;
    right: 5px;
}



#busca_por_categoria{
    float: left;
    background: $dark_gray;
    color: white;
    width: 90px;
    height: 42px;
    padding: 1em;
    font-size: 0.8em;
    line-height: 1;
    margin-top: -1px;
    @include rounded_top;
    margin-left: 15px;
    strong{
        font-size: 1.5em;
        font-weight: normal;
    }
}

#city_states{
    background: #333;
    display: none;
    @include rounded;
    @include shadow(0 0 20px rgba(0,0,0,0.35));
    position: absolute;
    font-size: 10px;
    padding: 1em;
    overflow: hidden;
    width: 430px;
    color: #CCC;
    z-index: 99;
    @include text-shadow(0px 1px 1px black);
    .state{
        float: left;
        padding: 5px;
        width: 100px;
        cursor: pointer;
        &:hover{
            color: $brand;
        }
    }
    .atras{
	float: right;
	font-size: 12px;
    }
    .cities{
        display: none;
        a{
            color: #CCC;
            text-decoration: none;
            &:hover{
                color: $brand;
            }
        }
        .city{
            display: block;
            overflow: hidden;
            color: #CCC;
            text-decoration: none;
            float: left;
            padding: 5px;
            width: 100px;
            &:hover{
                color: $brand;
            }

        }
    }
}


#search_bar{
    margin-left: 10px;
    float: left;
    margin-top: 8px;
    input[type='text']{
        height: 25px;
    }
    button{
        padding-top: 7px;
        padding-bottom: 6px;
    }
}

#city_list{
    margin-top: 8px;
    margin-left: 100px;
    select{
        padding: 7px;
        height: 35px;
    }
}


.navbar ul.nav{
    margin-top: 10px;
}

.publicar_btn{
    margin-left: 10px;
    margin-right: 15px;
}

#category_menu{
    position: relative;
    top: 0px;
    left: -12px;
    i img{
        width: 15px;
        margin-right: 3px;
        margin-left: -10px;
    }
}

#all_categories{
    float: left;
    margin-right: -10px;
    a{
        padding-top: 7px;
        padding-bottom: 6px;
    }
}

.linea{
    width: 100%;
    height: 1px;
    background: #CCC;
    clear:both;
}


.breadcrumb{
    margin-top: 10px;
}

#footer{
    color: white;
    background-color: #333;
    height: 60px;
    margin-top: 20px;
}


#login_modal{
    .social{
	margin: 40px 0;
	text-align: center;
	.btn{
	    padding: 0;
	    padding-right: 15px;
	    background: #FAFAFA;
	}
    }
    .email-sign-up{
	display: none;
    }
}



span.error, .error .control-label{
    color:#b94a48}
.error.form-control{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.error.form-control:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392}
.error .input-group-addon{color:#b94a48;background-color:#f2dede;border-color:#b94a48}


span.previous_page, a.next_page {
    display: none;
}