/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require gallery
 *= require_self
 *= require_tree .
*/
@import 'tools';

@media (min-width: 768px) {
    #main_content.container{
	margin-left: 200px;
	margin-right: 160px;
    }

}

.container{
    padding-top: 50px;
}

.content {
  background-color: white;
  ul{
      margin: 0 auto;
  }
}



#left_banner{
    padding-top: 280px;
    width: 180px;
    float: left;
}

#right_banner{
    padding-top: 10px;
    text-align: right;
    width: 140px;
    position: absolute;
    right: 5px;
}



#busca_por_categoria{
  float: left;
  background: $dark_gray;
  color: white;
  width: 90px;
  height: 42px;
  padding: 1em;
  font-size: 0.8em;
  line-height: 1;
  margin-top: -1px;
  @include rounded_top;
  strong{
    font-size: 1.5em;
    font-weight: normal;
  }
}

#search_bar{
  margin-left: 10px;
  float: left;
  margin-top: 8px;
  input[type='text']{
    height: 25px;
  }
  button{
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

#city_list{
    margin-top: 8px;
    margin-left: 100px;
    select{
	padding: 7px; 
	height: 35px;
    }
}


.navbar ul.nav{
  margin-top: 10px;
}

.publicar_btn{
    margin-left: 10px;
}

#category_menu{
  position: relative;
  top: 0px;
  left: -12px;
  i img{
      width: 15px;
      margin-right: 3px;
      margin-left: -10px;
  }
}

#all_categories{
  float: left;
  margin-right: -10px;
  a{
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

.linea{
  width: 100%;
  height: 1px;
  background: #CCC;
  clear:both;
}

	
footer{
    color: white;
    background-color: #333;
    padding: 20px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    margin-top: 20px;
    @include rounded-top;
}
