<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado una liga para cambiar tu contraseña. Esto lo puedes hacer por medio de la siguiente liga.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no pediste esto, sólo ignora este correo.</p>
<p>Tu contraseña no cambiara hasta que accedas a la liga de arriba y crees una nueva contraseña.</p>
