=simple_form_for(@anuncio, :html => { :multipart => true }) do |f|
  =f.error_notification

  .form-inputs
    %fieldset
      %legend Ubicación
      =f.input :category_id, as: :hidden
      =collection_select(:state, :id, State.all, :id, :name)
      =f.input :city_id, :label => 'Ciudad', :collection => @cities

    #anuncio_form
      -if @anuncio.category
        =render @anuncio.render_name

  .form-actions
    =f.button :submit, 'Guardar Anuncio', :class => 'btn btn-warning btn-large'



#upload.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Subir Imagen
  .modal-body

    =form_for @picture, :remote => true , :html => {:multipart => true} do |f|
      =f.file_field :image
      =f.hidden_field :image_cache
      =f.hidden_field :token, :value => @token

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
    %button.btn.btn-primary{:onclick => "$('#upload form').submit();"} Guardar









:javascript
  $(document).ready(function() {
    $('#state_id').change(function() {
      $.ajax({
        url: "#{update_cities_path}",
        data: {
          state_id : $('#state_id').val()
        },
        dataType: "script"
      });
    });

    $('#anuncio_category_id').change(function() {
      $.ajax({
        url: "#{update_category_path}",
        data: {
          category_id : $('#anuncio_category_id').val()
        },
        dataType: "script"
      });
    });



  });
