=simple_form_for(@anuncio, :html => { :multipart => true }) do |f|
  =f.error_notification

  .form-inputs
    %fieldset
      =f.input :category_id, :label => 'Categoría', :collection => Category.all, :disabled => lambda{|size| size.parent_id.nil?}
      =collection_select(:state, :id, State.all, :id, :name)
      =f.input :city_id, :label => 'Ciudad', :collection => @cities

    #anuncio_form
      -if @anuncio.category
        =render @anuncio.render_name

  .form-actions
    =f.button :submit, 'Crear Anuncio'

:javascript
  $(document).ready(function() {
    $('#state_id').change(function() {
      $.ajax({
        url: "#{update_cities_path}",
        data: {
          state_id : $('#state_id').val()
        },
        dataType: "script"
      });
    });

    $('#anuncio_category_id').change(function() {
      $.ajax({
        url: "#{update_category_path}",
        data: {
          category_id : $('#anuncio_category_id').val()
        },
        dataType: "script"
      });
    });

  });