=simple_fields_for @anuncio do |f|
  .perk.controls-row
    =f.input :district, :label => 'Colonia'
    =f.input :street, :label => 'Calle y número'
    =f.input :latitude, :as => :hidden
    =f.input :longitude, :as => :hidden

  %fieldset.perk.controls-row
    %legend Características
    =f.simple_fields_for :house_perk do |asset_form|
      .col-sm-4
        =asset_form.input :rooms, :label => 'Cuartos', :collection => 1..10
      .col-sm-4
        =asset_form.input :m2int, :label => "Metros Interior"
      .col-sm-4
        =asset_form.input :m2ext, :label => "Metros Exterior"

    =f.input :price, :label => 'Precio', input_html: { class: 'span2'}



  =render 'anuncio_basic', :f => f
