=simple_fields_for @anuncio do |f|
  =f.input :district, :label => 'Colonia'

  %fieldset.perk.controls-row
    %legend Características de la Moto
    =f.simple_fields_for :moto_perk do |asset_form|
      .col-sm-3
        =asset_form.input :brand_id, :collection => Brand.all
      .col-sm-3
        =asset_form.input :km
      .col-sm-3
        =asset_form.input :cc
      .col-sm-3
        =asset_form.input :year, :collection => 1950..(Time.now.year + 1)

  =render 'anuncio_basic', :f => f
