%ul
  %li.btn.active
    %h3 precio
    =number_to_currency(@anuncio.price)
  %li.btn.active
    %h3 km
    =@anuncio.car_perk.km

%ul
  %li.btn.active
    %h3 marca
    =@anuncio.car_perk.brand.name
  %li.btn.active
    %h3 modelo
    =@anuncio.car_perk.model.name
  %li.btn.active
    %h3 año
    =@anuncio.car_perk.year

%ul
  %li.btn.btn-danger{:href => "#contactar", :role => "button", 'data-toggle' => "modal"} Contactar Anunciante
  %li.btn{:href => "#compartir", :role => "button", 'data-toggle' => "modal"} Compartir Anuncio

