%ul.col-md-4
  %li.well.precio
    %span=number_to_currency(@anuncio.price)
  %li.well
    %h3 km
    %span=number_with_precision(@anuncio.car_perk.km, precision: 0, delimiter: ',')

%ul.col-md-4
  %li.well
    %h3 marca
    %span=@anuncio.car_perk.brand.name
  %li.well
    %h3 modelo
    %span=@anuncio.car_perk.model.name
  %li.well
    %h3 año
    %span=@anuncio.car_perk.year


