%ul.col-md-4
  %li.well.precio
    %span=number_to_currency(@anuncio.price)
  %li.well
    %h3 colonia
    %span=@anuncio.district

%ul.col-md-4
  %li.well
    %h3 cuartos
    %span=@anuncio.house_perk.rooms
  %li.well
    %h3 m2 interior
    %span=number_with_precision(@anuncio.house_perk.m2int, precision: 0, delimiter: ',')
  %li.well
    %h3 m2 exterior
    %span=number_with_precision(@anuncio.house_perk.m2ext, precision: 0, delimiter: ',')


