=content_for :title do
  =@title.titlecase

-content_for :breadcrumb do
  .breadcrumb
    %li
      =link_to('Inicio', root_url)
    -if @city
      %li
        =link_to(@city.name,  @city.url_name)
    -if @category and @category.parent
      %li
        =link_to(@category.parent.name, @category.parent.name.parameterize )

    -if @category
      %li.active
        =@category.keywords.titlecase


.col-sm-12
  -if !params[:city].blank?
    %h1=(@category.blank? ? "Anuncios" : @category.name) + " en " + params[:city].titlecase
  -elsif !params[:state].blank?
    %h1=(@category.blank? ? "Anuncios" : @category.name) + " en " + params[:state].titlecase
  -else
    %h1= @category.blank? ? "Anuncios" : @category.name
  %span.text-muted Encontrados <strong>#{@todos.total_entries}</strong> anuncios
  -if @category.blank? and action_name != "search"
    #anuncios_container

      -@todos.each do |anuncio|
        =render anuncio
    =will_paginate @todos, :container => 'li'
  -else
    %ul#anuncio_list.list-group
      -@todos.each do |anuncio|
        %li.list-group-item{:itemscope => true,  :itemtype => "http://schema.org/Product" }=render 'anuncio_list', :anuncio => anuncio
    =will_paginate @todos

