-content_for :breadcrumb do
  .breadcrumb
    %li
      =link_to('Inicio', root_url)
      %span.divider /
    -if @city
      %li
        =link_to(@city.name, '/' + @city.url_name)
        %span.divider /
    -if @category and @category.parent
      %li
        =link_to(@category.parent.name, @category.parent.name.parameterize )
        %span.divider /

    -if @category
      %li.active
        =@category.name




%h1 Anuncios
#anuncios_container
  -if @category.blank?
    -@anuncios.each do |anuncio|
      =render anuncio
  -else
    -@anuncios.each do |anuncio|
      =render 'anuncio_list', :anuncio => anuncio


