-content_for :breadcrumb do
  .breadcrumb
    %li
      =link_to('Inicio', root_url)
    -if @city
      %li
        =link_to(@city.name, '/' + @city.url_name)
    -if @category and @category.parent
      %li
        =link_to(@category.parent.name, @category.parent.name.parameterize )

    -if @category
      %li.active
        =@category.name




%h1 Anuncios
-if @category.blank? and action_name != "search"
  #anuncios_container

    -@anuncios.each do |anuncio|
      =render anuncio
  =will_paginate @anuncios, :container => 'li'
-else
  %ul#anuncio_list.list-group

    -@anuncios.each do |anuncio|
      %li.list-group-item=render 'anuncio_list', :anuncio => anuncio
  =will_paginate @anuncios

