%table.table.table-bordered
  %tr
    %th Título
    %th Vistas
    %th
  -@anuncios.each do |anuncio|
    %tr
      %td=link_to anuncio.title, anuncio
      %td=anuncio.impressionist_count
      %td
        =link_to 'editar', edit_anuncio_url(anuncio)
        =link_to 'borrar', anuncio, :method => :delete, :confirm => "Estas seguro?"
