-content_for :head do 
  =javascript_include_tag "green_light"

=tinymce_assets
-if @sub.nil?
  .col-sm-12
    %h1 Crea tu anuncio
  .select_cat.col-sm-12
    %h3 1. Selecciona una categoría

    .row

      .col-sm-3
        =category_list(10)
        =category_list(300)

      .col-sm-3
        =category_list(500)
        =category_list(400)

      .col-sm-3
        =category_list(200)
        =category_list(600)

      .col-sm-3
        =category_list(100)



  .clearfix

-else
  =render 'form'


