-content_for :head do 
  :javascript
    $().ready(function() {
    $(".green_light").validate({"rules":{"anuncio[category_id]":{"required":true},"anuncio[city_id]":{"required":true},"anuncio[tipo]":{"required":true},"anuncio[title]":{"required":true},"anuncio[texto]":{"required":true},"anuncio[Estado]":{},"anuncio[district]":{},"anuncio[price]":{},"anuncio[tel]":{}},"errorElement":"span"});
    });
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    var re = new RegExp(regexp);
    return this.optional(element) || re.test(value);
    },
    "You have entered an invalid value for this field"
    );


=tinymce_assets
-if @sub.nil?
  .col-sm-12
    %h1 Crea tu anuncio
  .select_cat.col-sm-12
    %h3 1. Selecciona una categoría

    .row

      .col-sm-3
        =category_list(10)
        =category_list(300)

      .col-sm-3
        =category_list(500)
        =category_list(400)

      .col-sm-3
        =category_list(200)
        =category_list(600)

      .col-sm-3
        =category_list(100)



  .clearfix

-else
  =render 'form'


