.col-sm-12
  -content_for :breadcrumb do
    .breadcrumb
      %li
        =link_to('Inicio', root_url)
      %li
        =link_to(@anuncio.city.metropoly.name, @anuncio.city.metropoly.url_name)
      %li
        =link_to(@anuncio.main_category_name, '/')
      %li
        =link_to(@anuncio.category_name, '/')
      %li.active=@anuncio.tipo_name


  %p#notice= notice

  %h1=@anuncio.title
  %p
    =@anuncio.city.name + ', ' + @anuncio.city.state.name
    =', ' + @anuncio.district if !@anuncio.district.blank?

  -if !@anuncio.pictures.blank?
    .pikachoose
      %ul#pikame.jcarousel-skin-pika
        -@anuncio.pictures.each do |asset|
          %li
            %a{:href => "#"}
              =image_tag(asset.image.medium.url)



  %hr
  #perks
    -if @anuncio.car_perk
      =render 'show_car'
    -elsif @anuncio.moto_perk
      =render 'show_moto'
    -elsif @anuncio.house_perk
      =render 'show_house'
    -elsif @anuncio.job_perk
      =render 'show_job'
    -else
      %ul.col-md-4
        %li.well.precio
          %span=number_to_currency(@anuncio.price)
      .col-md-4


    %ul.col-md-4
      %li.btn.btn-danger{:href => "#contactar", :role => "button", 'data-toggle' => "modal"} Contactar Anunciante
      %li.btn.btn-default{:href => "#compartir", :role => "button", 'data-toggle' => "modal"} Compartir Anuncio


%hr

%p
  =raw @anuncio.texto

%hr


#contactar.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Contacta al Anunciante
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary Save changes

#compartir.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Comparte este Anuncio
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary Save changes
