-content_for :breadcrumb do
  .breadcrumb
    %li
      =link_to('Inicio', root_url)
      %span.divider /
    %li
      =link_to(@anuncio.main_category_name, '/')
      %span.divider /
    %li
      =link_to(@anuncio.category_name, '/')
      %span.divider /
    %li.active=@anuncio.tipo_name


%p#notice= notice

%h1=@anuncio.title
%p
  =@anuncio.city.name + ', ' + @anuncio.city.state.name
  =', ' + @anuncio.district if !@anuncio.district.blank?


.pikachoose
  %ul#pikame
    -@anuncio.assets.each do |asset|
      %li
        %a{:href => "#"}
          =image_tag(asset.file.url(:medium))

%p
  %b Precio:
  =number_to_currency @anuncio.price, :precision => 0

-#@anuncio.assets.each do |asset|
  =#image_tag(asset.file.url(:medium))

%p
  =@anuncio.texto


