%p#notice= notice

%h1=@anuncio.title
%p
  =@anuncio.city.name + ', ' + @anuncio.city.state.name
%p
  %b Colonia:
  =@anuncio.district

%p
  %b Precio:
  =number_to_currency @anuncio.price, :precision => 0
%p
  =@anuncio.texto

-@anuncio.assets.each do |asset|
  =image_tag(asset.file.url(:medium))



%br
= link_to 'Edit', edit_anuncio_path(@anuncio)
\|
= link_to 'Back', anuncios_path
