-content_for :breadcrumb do
  .breadcrumb
    %li
      =link_to('Inicio', root_url)
      %span.divider /
    %li
      =link_to(@anuncio.city.metropoly.name, @anuncio.city.metropoly.url_name)
      %span.divider /
    %li
      =link_to(@anuncio.main_category_name, '/')
      %span.divider /
    %li
      =link_to(@anuncio.category_name, '/')
      %span.divider /
    %li.active=@anuncio.tipo_name


%p#notice= notice

%h1=@anuncio.title
%p
  =@anuncio.city.name + ', ' + @anuncio.city.state.name
  =', ' + @anuncio.district if !@anuncio.district.blank?


.pikachoose
  %ul#pikame
    -@anuncio.pictures.each do |asset|
      %li
        %a{:href => "#"}
          =image_tag(asset.image.medium.url)



%hr
#perks
  -if @anuncio.car_perk
    =render 'show_car'
  -else
    %p
      %b Precio:
      =number_to_currency @anuncio.price, :precision => 0
%hr

%p
  =raw @anuncio.texto

#contactar.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Contacta al Anunciante
  .modal-body
    %p One fine body…
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary Save changes

#compartir.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Comparte este Anuncio
  .modal-body
    %p One fine body…
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary Save changes
