.col-sm-12
  -content_for :breadcrumb do
    .breadcrumb
      %li
        =link_to('Inicio', root_url)
      %li
        =link_to(@anuncio.city.name, @anuncio.city.url_name)
      %li
        =link_to(@anuncio.main_category_name, @anuncio.city.url_name + '/' + @anuncio.main_category_name.parameterize)
      %li
        =link_to(@anuncio.category_name, @anuncio.city.url_name + '/' + @anuncio.main_category_name.parameterize )
      %li.active=@anuncio.tipo_name


  %p#notice= notice

  %h1=@anuncio.title
  %p
    =@anuncio.city.name + ', ' + @anuncio.city.state.name
    =', ' + @anuncio.district if !@anuncio.district.blank?

  -if !@anuncio.pictures.blank?
    .pikachoose
      %ul#pikame.jcarousel-skin-pika
        -@anuncio.pictures.each do |asset|
          %li
            %a{:href => "#"}
              =image_tag(asset.image.medium.url)



  %hr
  #perks
    -if @anuncio.car_perk
      =render 'show_car'
    -elsif @anuncio.moto_perk
      =render 'show_moto'
    -elsif @anuncio.house_perk
      =render 'show_house'
    -elsif @anuncio.job_perk
      =render 'show_job'
    -else
      %ul.col-md-4
        %li.well.precio
          %span=number_to_currency(@anuncio.price)
      .col-md-4


    %ul.col-md-4
      %li.btn.btn-danger{:href => "#contactar", :role => "button", 'data-toggle' => "modal"} Contactar Anunciante
      %li.btn.btn-default{:href => "#compartir", :role => "button", 'data-toggle' => "modal"} Compartir Anuncio


%hr

.col-sm-12
  %p
    =raw @anuncio.texto

%hr


  #related_container.related.col-sm-12
    %h3 Te puede interesar:
    -@related.each_with_index do |related, index|
      =render 'related', :size => :medium, :anuncio => related, :index => index



#contactar.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Contacta #{@anuncio.user ? 'a ' + @anuncio.user.name : 'al Anunciante'}
      .modal-body

        .telefonos.well
          %h3 Llama por Teléfono
          -@anuncio.tel.split(',').each do |tel|
            %span.label.label-success
              %span.glyphicon.glyphicon-earphone=tel


        .well
          %h3 Envia un Mensaje
          =form_tag '/anuncios/contactar', :remote => true do |f|
            =hidden_field_tag 'anuncio_id', @anuncio.id
            .form-group
              %label Nombre
              =text_field_tag 'nombre', '', :class => "form-control"
            .form-group
              %label Email
              =text_field_tag 'email', '', :class => "form-control"
            .form-group
              %label Mensaje
              =text_area_tag 'mensaje', '', :class => "form-control"
            %button.btn.btn-primary.pull-right.enviar{:onclick => "$(this).hide(); $('.enviar_dis').show()"} Enviar
            %button.btn.btn-primary.pull-right.enviar_dis.disabled{:style => 'display: none;'} Enviando

          .clearfix
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar


#compartir.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3 Comparte este Anuncio
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar

