.navbar-header
  %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  =link_to image_tag('mexilist.png'), root_path, :class => 'navbar-brand'

.linea
.nav.navbar-nav.col-sm-7{:role => "search"}
  .hidden-xs.col-sm-3
    #busca_por_categoria
      Busca por
      %strong categoría
      =render 'layouts/left_menu'

  .form-group.col-sm-9
    .row
      %form.col-sm-12{:action => '/anuncios/search', :method => 'get'}
        .input-group
          .input-group-btn
            .btn.btn-default.city_states_btn
              -if !params[:city].blank?
                =City.find_name(params[:city])
              -elsif !params[:state].blank?
                =State.find_name(params[:state])
              -else
                Todo Mexico
              %span.caret
            #city_states
              .states
                -State.all.each do |state|
                  .state{:onclick => "$('#cities" + state.id.to_s + "').show();$('.states').hide()"}=state.name
              -State.all.each do |state|
                %div.cities{:id => 'cities'+state.id.to_s}
                  %h4
                    =link_to(state.name, state.url_name)
                    =link_to('atras', '#', :onclick => "$('#cities" + state.id.to_s + "').hide();$('.states').show()", :class => 'atras' )
                  -state.cities.each do |c|
                    =link_to c.name, c.url_name, :class => 'city'

          %input#search.form-control{:type => "text", :name => 'q'}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "submit"} Buscar

-if user_signed_in?
  %ul.nav.navbar-nav.navbar-right.col-sm-4
    %li.publicar_btn
      =button_to('Publicar Anuncio', new_anuncio_url, :class => 'btn btn-danger', :method => :get)
    %li
      .btn-group
        %button.btn.btn-default{:type => "button"}
          %span.picture=image_tag(current_user.picture)
          =current_user.name
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          %span.caret
        %ul.dropdown-menu
          %li=link_to "Mis Anuncios", mis_anuncios_anuncios_path
          %li=link_to "Editar Cuenta", edit_user_registration_path
          %li.divider
          %li=link_to 'Salir', destroy_user_session_path, :method=>'delete'

    -#%li=button_to('Mis Anuncios', mis_anuncios_anuncios_path, :class => 'btn btn-primary', :method => :get )


-else
  %ul.nav.navbar-nav.navbar-right
    %li.pull-right
      %button.publicar_btn.btn.btn-danger{:type=>'button', :onclick => "$('#login_modal').modal('show');"}Publicar Anuncio
    %li.btn.btn-default.pull-right=link_to 'Registrar', '#', :class => 'facebook'
